.quill {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.ql-container.ql-snow {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 1rem;
  border: 0;
}

.ql-toolbar.ql-snow {
  border-top: 0;
  border-bottom: 1px solid #ced4da;
  border-left: 0;
  border-right: 0;
}

// Quill Snow will set background on syntax blocks. This overwrites it
.ql-snow .ql-editor pre.ql-syntax {
  @extend .hljs;
}

@import "~highlight.js/styles/foundation";
