@import "custom.scss";

$font-prefix: "~@ibm/plex";

@import "~@ibm/plex/scss/ibm-plex.scss";

body {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif !important;
  background-color: map-get($theme-colors, light);
}

.card-header {
  font-weight: bold !important;
}

hr {
  margin-top: 2rem !important;
}

.cardFooterButton,
.cardFooterButton:focus,
.cardFooterButton:active {
  outline: none !important;
  box-shadow: none;
  cursor: pointer;
}
