@import "custom.scss";

$font-prefix: "~@ibm/plex";

@import "~@ibm/plex/scss/ibm-plex.scss";

body {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif !important;
  background-color: map-get($theme-colors, light);
}

.card-header {
  font-weight: bold !important;
}

hr {
  margin-top: 2rem !important;
}

.cardFooterButton,
.cardFooterButton:focus,
.cardFooterButton:active {
  border: 0;
  outline: none !important;
  box-shadow: none;
  cursor: pointer;
}

.resetInput {
  background: transparent;
  color: white;
  border: 0;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.pointerCursor {
  cursor: pointer;
}

.hover {
  &:hover &__no-hover {
    opacity: 0;
  }

  &:hover &__hover {
    opacity: 1;
  }

  &__hover {
    opacity: 0;
  }

  &__no-hover {
    opacity: 1;
  }
}
